$color1:  #fcfcfc !default;
$color2:  #f7567c !default;
$color3:  #fffae3 !default;
$color4:  #99e1d9 !default;
$color5:  #5d576b !default;

$color6:  #738290 !default;
$color7:  #82d4bb !default;
$color8:  #f0f0f0 !default;
$color9:  #153131 !default;
$color10: #31e981 !default;