$color1: rgba(252, 252, 252, 1) !default;
$color2: rgba(247, 86, 124, 1) !default;
$color3: rgba(255, 250, 227, 1) !default;
$color4: rgba(153, 225, 217, 1) !default;
$color5: rgba(93, 87, 107, 1) !default;

$color6: rgba(115, 130, 144, 1) !default;
$color7: rgba(130, 212, 187, 1) !default;
$color8: rgba(255, 250, 251, 1) !default;
$color9: rgba(21, 49, 49, 1) !default;
$color10: rgba(49, 233, 129, 1) !default;