<div class="panes" [@slide]="activePane">
  <div>
    <ng-content select="[id=workout_6]"></ng-content>
  </div>
  <div>
    <ng-content select="[id=workout_5]"></ng-content>
  </div>
  <div>
    <ng-content select="[id=workout_4]"></ng-content>
  </div>
  <div>
    <ng-content select="[id=workout_3]"></ng-content>
  </div>
  <div>
    <ng-content select="[id=workout_2]"></ng-content>
  </div>
  <div>
    <ng-content select="[id=workout_1]"></ng-content>
  </div>
  <div>
    <ng-content select="[id=workout_0]"></ng-content>
  </div>
  <div>
    <ng-content select="[id=workout_7]"></ng-content>
  </div>
</div>