<!-- Header -->
<div class="accent-bar bg-color7"></div>
<div class="logo-container flex">
  <div class="accent-bar bg-color6 right-round half"></div>
  <div class="logo">
    <img src="../assets/images/logo.svg" alt="Seatown Crossfit">
  </div>
  <div class="accent-bar bg-color6 left-round half">
    <a href="https://www.instagram.com/seatowncrossfit/" target="_blank">
      <img class="instagram" src="../assets/images/instagram.svg" alt="Instagram">
    </a>
  </div>
</div>
<div class="app-name-container flex">
  <img src="../assets/images/bicep-left.png" alt="bicep">
  <div class="app-name">Swole Squad</div>
  <img src="../assets/images/bicep-right.png" alt="bicep">
</div>
<div class="accent-bar-small center bg-color7 left-round right-round"></div>

<!-- User Alerts -->
<app-user-alerts></app-user-alerts>

<!-- Main Content -->
<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="kettlebell" src="../assets/images/weight.svg" alt="kettlebell">
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      <app-daily-workout></app-daily-workout>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="barbell" src="../assets/images/barbell.svg" alt="barbell">
    </ng-template>
    <div class="example-small-box mat-elevation-z4">
      <button mat-button (click)="getUserStats()">Click me!</button>
      <div>
        <pre>{{ data | json }}</pre>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- Footer -->
<div class="accent-bar bg-color7 large flex footer-container color8">
  <div></div>
  <div class="flex align-center">
    <img class= "footer-copywrite" src="../assets/images/copyright-slim.svg" alt="copywrite">
    <img class="footer-logo" src="../assets/images/logo.svg" alt="Seatown Crossfit">
  </div>
  <div class="throwback">Since 2014</div>
</div>

