<div class="accent-bar color7"></div>
<div class="logo-container">
  <div class="accent-bar color6 right-round half"></div>
  <div class="logo">
    <img src="../assets/images/logo.svg" alt="Seatown Crossfit">
  </div>
  <div class="accent-bar color6 left-round half"></div>
</div>
<!-- <div class="accent-bar-small center color10"></div> -->
<div class="app-name-container">
  <img src="../assets/images/bicep_left.png" alt="bicep">
  <div class="app-name">Swole <span>Squad</span></div>
  <img src="../assets/images/bicep_right.png" alt="bicep">
</div>
<div class="accent-bar-small center color7 left-round right-round"></div>
<mat-tab-group dynamicHeight>
  <mat-tab label="Daily Workout">
    <div class="example-small-box mat-elevation-z4">
      <button mat-button (click)="getUserStats()">Click me!</button>
      <div>
        <pre>{{ data | json }}</pre>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Profile">
    <div class="example-large-box mat-elevation-z4">
      <app-daily-workout></app-daily-workout>
    </div>
  </mat-tab>
</mat-tab-group>

