.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.logo-container {
  align-items: center;
  height: 10rem;
  margin-bottom: -2rem;

  .logo {
    width: 30rem;

    img {
      padding-bottom: 2rem;
    }
  }
}

.footer-container {
  font-family: 'Bangers';
  justify-content: space-between;

  .footer-logo {
    height: 6rem;
  }

  .footer-copywrite {
    height: 1.5rem;
    padding-left: 11rem;
  }

  .throwback {
    font-size: 2.5rem;
    align-self: center;
    padding-right: 2rem;
  }
}

.app-name-container {
  justify-content: center;
  margin-top: -3.8rem;

  img {
    height: 10rem;
    width: 10rem;
  }

  .app-name {
    font-family: 'Bangers';
    align-self: flex-end;
    width: 19rem;
    margin: 0 1.5rem 0 0.5rem;
    font-size: 4rem;
    font-style: italic;
    text-align: center;
  }
}

.instagram {
  height: 3rem;
  position: relative;
  bottom: 3.5rem;
  padding-left: 1rem;
}

.kettlebell {
  height: 3rem;
}

.barbell {
  height: 6.5rem;
}

.accent-bar {
  width: 100%;
  height: 2rem;
}

.large {
  height: 5rem;
}

.accent-bar-small {
  height: 0.5rem;
  width: 20rem;
  position: relative;
  right: 0.3rem;
}

.right-round {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.left-round {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}