// @import '../../styles/_variables';

.daily-workout-container {
  width: 50vw;
  margin: 0 auto;
  box-shadow: none !important;

  .title,
  .date {
    text-transform: uppercase;
    text-align: left;
    font-size: 2rem;
  }

  .date {
    font-family: 'Bangers';
    font-size: 2rem;
  }

  .daily-workout-content {
    display: flex;
    justify-content: space-evenly;
  }

  .skill-card, .wod-card {
    // font-family: 'PermanentMarker';
    font-family: 'BoardMarker';
    margin: 0 auto;
    width: 45%;
    color: black;
    // background-color: $color3;
    text-align: center;
  }

  .skill-card {
    margin-right: 1rem;
  }

  .daily-workout-board {
    font-size: 2rem;
  }

  // .color2 {
  //   color: $color2;
  // }

}