<mat-card class="daily-workout-container">

  <!-- Workout Info -->
  <mat-card-header class="date">
    <mat-card-title>
      <div>{{ today }}</div>
        <!-- <button
          mat-button
          *ngIf="enableEditing === true"
          (click)="editingSkillSection = true; editingWodSection = true">Edit
        </button> -->
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="daily-workout-content">

    <!-- Skill Section -->
    <mat-card class="skill-card bg-color3">
      <mat-card-title class="title">Skill :</mat-card-title>
      <mat-card-content *ngIf="!editingSkillSection">
        <div class="daily-workout-board">
          <p *ngFor="let description of wod.skillDescriptionArray">{{ description }}</p>
        </div>
      </mat-card-content>
      <!-- <mat-card-content *ngIf="editingSkillSection">
        <div *ngIf="editingSkillSection">
          <mat-form-field>
            <mat-label>Edit Skill Section</mat-label>
            <textarea
              matInput
              [(ngModel)]="dailySkillDescriptionUpdate"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="7"
              placeholder="Skill text goes here...">
            </textarea>
          </mat-form-field>
        </div>
        <button
          mat-button
          *ngIf="editingSkillSection === true"
          (click)="updateSkillDescription(dailySkillDescriptionUpdate); editingSkillSection = false">Update
        </button>
        <button
          mat-button
          *ngIf="editingSkillSection === true"
          (click)="editingSkillSection = false">Cancel
        </button>
      </mat-card-content> -->
    </mat-card>

      <!-- WOD Section -->
    <mat-card class="wod-card bg-color3">
      <mat-card-title class="title">
        <div class="flex">
          <div class="wod-title-spacer">Wod :&nbsp;</div>
          <div *ngIf="isWod" [ngClass]="{ 'color2': isWod }">{{ wod.workoutName }}</div>
          <div *ngIf="!isWod">{{ wod.workoutName }}</div>
        </div>
      </mat-card-title>
      <mat-card-content *ngIf="!editingWodSection">
        <div class="daily-workout-board">
          <p *ngFor="let description of wod.workoutDescriptionArray">{{ description }}</p>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="editingWodSection">
        <div *ngIf="editingWodSection">
          <mat-form-field>
            <mat-label>Edit Wod Section</mat-label>
            <textarea
              matInput
              [(ngModel)]="dailyWodDescriptionUpdate"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="7"
              placeholder="Wod text goes here...">
            </textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Edit Skill Section</mat-label>
            <textarea
              matInput
              [(ngModel)]="dailySkillDescriptionUpdate"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="7"
              placeholder="Skill text goes here...">
            </textarea>
          </mat-form-field>
        </div>
        <button
          mat-button
          *ngIf="editingWodSection === true"
          (click)="updateWodDescription(dailyWodDescriptionUpdate); editingWodSection = false">Update
        </button>
        <button
          mat-button
          *ngIf="editingWodSection === true"
          (click)="editingWodSection = false">Cancel
        </button>
      </mat-card-content>
    </mat-card>

  </mat-card-content>

</mat-card>
