
<div class="daily-workout-container flex justify-space-between align-center">
  <button
    mat-fab
    class="workout-toggle"
    (click)="slideWorkoutDisplay('left')"
    [disabled]="currentWorkoutDisplay >= 6"
  >
    <img src="../../../assets/images/arrow_left.svg" alt="left arrow">
  </button>
  <app-transition-slider class="daily-workout" [activePane]="currentWorkoutDisplay">
    <app-workout-display [workout]="recentWorkouts[0]" class="daily-workout-container" id="workout_0"></app-workout-display>
    <app-workout-display [workout]="recentWorkouts[1]" class="daily-workout-container" id="workout_1"></app-workout-display>
    <app-workout-display [workout]="recentWorkouts[2]" class="daily-workout-container" id="workout_2"></app-workout-display>
    <app-workout-display [workout]="recentWorkouts[3]" class="daily-workout-container" id="workout_3"></app-workout-display>
    <app-workout-display [workout]="recentWorkouts[4]" class="daily-workout-container" id="workout_4"></app-workout-display>
    <app-workout-display [workout]="recentWorkouts[5]" class="daily-workout-container" id="workout_5"></app-workout-display>
    <app-workout-display [workout]="recentWorkouts[6]" class="daily-workout-container" id="workout_6"></app-workout-display>
  </app-transition-slider>
  <button
    mat-fab
    class="workout-toggle"
    (click)="slideWorkoutDisplay('right')"
    [disabled]="currentWorkoutDisplay < 1"
  >
    <img src="../../../assets/images/arrow_right.svg" alt="left arrow">
  </button>
</div>
