<mat-card class="workout-display">
  <!-- Workout Info -->
  <mat-card-header class="date">
    <mat-card-title>
      <div>{{ workout.formattedDate }}</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="daily-workout-content">
    <!-- Skill Section -->
    <mat-card class="skill-card bg-color3">
      <mat-card-title class="title">Skill :</mat-card-title>
      <mat-card-content *ngIf="!editingSkillSection">
        <div class="daily-workout-board">
          <!-- <p *ngFor="let description of wod.skillDescriptionArray">{{ description }}</p> -->
        </div>
      </mat-card-content>
    </mat-card>
    <!-- WOD Section -->
    <mat-card class="wod-card bg-color3">
      <mat-card-title class="title">
        <div class="flex">
          <div class="wod-title-spacer">Wod :&nbsp;</div>
          <!-- <div *ngIf="wod.isWod" [ngClass]="{ 'color2': isWod }">{{ wod.workoutName }}</div> -->
          <!-- <div *ngIf="!wod.isWod">{{ wod.workoutName }}</div> -->
        </div>
      </mat-card-title>
      <mat-card-content *ngIf="!editingWodSection">
        <div class="daily-workout-board">
          <!-- <p *ngFor="let description of wod.workoutDescriptionArray">{{ description }}</p> -->
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
