/* You can add global styles to this file, and also import other style files */

/* Angular Material */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Color variables
@import 'app/styles/_colors';

/* Custom fonts */
@font-face {
  font-family: 'PermanentMarker';
  src: url('./assets/fonts/PermanentMarker-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@font-face {
  font-family: 'Bangers';
  src: url('./assets/fonts/Bangers-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@font-face {
  font-family: 'Exposition';
  src: url('./assets/fonts/Exposition.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@font-face {
  font-family: 'BoardMarker';
  src: url('./assets/fonts/BoardMarker.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

// Material overrides
.mat-tab-header {
  height: 3.5rem;

  .mat-tab-label {
    height: 3.375rem;
  }

  mat-ink-bar {
    background-color: $color2 !important;
  }
}

// CSS Chunks
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.center {
  margin: 0 auto;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

// Colors
.color1 {
  color: $color1;
}

.bg-color1 {
  background-color: $color1;
}

.color2 {
  color: $color2;
}

.bg-color2 {
  background-color: $color2;
}

.color3 {
  color: $color3;
}

.bg-color3 {
  background-color: $color3;
}

.color4 {
  color: $color4;
}

.bg-color4 {
  background-color: $color4;
}

.color5 {
  color: $color5;
}

.bg-color5 {
  background-color: $color5
}

.color6 {
  color: $color6;
}

.bg-color6 {
  background-color: $color6;
}

.color7 {
  color: $color7;
}

.bg-color7 {
  background-color: $color7;
}

.color8 {
  color: $color8;
}

.bg-color8 {
  background-color: $color8;
}

.color9 {
  color: $color9;
}

.bg-color9 {
  background-color: $color9;
}

.color10 {
  color: $color10;
}

.bg-color10 {
  background-color: $color10;
}