/* You can add global styles to this file, and also import other style files */

/* Angular Material */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Color variables
@import 'app/styles/_colors';

/* Custom fonts */
@font-face {
  font-family: 'PermanentMarker';
  src: url('./assets/fonts/PermanentMarker-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@font-face {
  font-family: 'Bangers';
  src: url('./assets/fonts/Bangers-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@font-face {
  font-family: 'Exposition';
  src: url('./assets/fonts/Exposition.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@font-face {
  font-family: 'BoardMarker';
  src: url('./assets/fonts/BoardMarker.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  font-family: 'Bangers';
  justify-content: space-between;

  div {
    height: 6rem;
  }

  .flex-placeholder {
    flex-basis: 33%;
    display: none;

    @media screen and (min-width: 675px) {
      display: block;
    }
  }

  .footer-logo-container {
    flex-basis: 65%;
    justify-content: flex-end;

    @media screen and (min-width: 675px) {
      flex-basis: 34%;
      justify-content: center;
    }

    .footer-logo {
      height: inherit;
    }

    .footer-copywrite {
      height: 1.5rem;
    }
  }

  .throwback {
    flex-basis: 33%;
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: 675px) {
      font-size: 2rem;
      flex-basis: 33%
    }

    span {
      align-self: center;
      padding-right: 2rem;
    }
  }
}

// Material overrides
.mat-tab-header {
  height: 3.5rem;
  padding-top: 0.5rem;

  .mat-tab-labels {
    justify-content: space-evenly;

    @media screen and (min-width: 675px) {
      justify-content: inherit;
    }
  }

  .mat-tab-label {
    height: 3.375rem;
  }

  mat-ink-bar {
    background-color: $color2 !important;
  }
}

mat-expansion-panel-header {
  .mat-content {
    overflow: visible;
  }
}

.mat-ripple-element {
  background-color: rgba(255, 255, 255, 0.1);
}

/////////////// CSS Chunks ///////////////
//Displays & Alignments
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.center {
  margin: 0 auto;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.gutters {
  margin: 0 1rem;
}

// Fonts
.bangers {
  font-family: 'Bangers';
}

.board-marker {
  font-family: 'BoardMarker';
}

.permanent-marker {
  font-family: 'PermanentMarker'
}

// Font sizes
.font-small {
  font-size: 1.5rem;
}

.font-medium {
  font-size: 2rem;
}

.font-large {
  font-size: 3rem;
}

.font-extra-large {
  font-size: 4rem;
}

// Colors
.color1 {
  color: $color1;
}

.bg-color1 {
  background-color: $color1;
}

.color2 {
  color: $color2;
}

.bg-color2 {
  background-color: $color2;
}

.color3 {
  color: $color3;
}

.bg-color3 {
  background-color: $color3;
}

.color4 {
  color: $color4;
}

.bg-color4 {
  background-color: $color4;
}

.color5 {
  color: $color5;
}

.bg-color5 {
  background-color: $color5
}

.color6 {
  color: $color6;
}

.bg-color6 {
  background-color: $color6;
}

.color7 {
  color: $color7;
}

.bg-color7 {
  background-color: $color7;
}

.color8 {
  color: $color8;
}

.bg-color8 {
  background-color: $color8;
}

.color9 {
  color: $color9;
}

.bg-color9 {
  background-color: $color9;
}

.color10 {
  color: $color10;
}

.bg-color10 {
  background-color: $color10;
}